body {
  	transition: transform .2s;
  	overflow-x: hidden;

  	&.ps-active-right {
		-webkit-transform: translateX(-260px);
		-ms-transform: translateX(-260px);
		transform: translateX(-260px);
  	}

  	#sidePanel {
		right: 0;
		-webkit-transform: translateX(260px);
		-ms-transform: translateX(260px);
		transform: translateX(260px);
  	}
  	.panel {
		position: fixed;
		top: 0;
		width: 220px;
		height: 100%;
		padding: 20px;
		background-color: #333;
		color: #fff;
		box-shadow: inset 0 0 5px 5px #222;
  }

  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout {
	h4 {
		margin-top: 0;
    	margin-bottom: 5px;
	}
	p:last-child {
	    margin-bottom: 0;
	}
	code {
	    border-radius: 3px;
	}
	.bs-callout-default {
	    border-left-color: #777;

	    h4 {
		    color: #777;
		}
	}
	.bs-callout-primary {
	    border-left-color: #428bca;
	    h4 {
		    color: #428bca;
		}
	}
	.bs-callout-success {
	    border-left-color: #5cb85c;
	    h4 {
		    color: #5cb85c;
		}
	}
	.bs-callout-danger {
	    border-left-color: #d9534f;
	}
	.bs-callout-warning {
	    border-left-color: #f0ad4e;
	    h4 {
		    color: #f0ad4e;
		}
	}
	.bs-callout-info {
	    border-left-color: #5bc0de;
	    h4 {
		    color: #5bc0de;
		}
	}
}

/* SECTIONS */
section {
	&#questions {
		.q-outer-item {
			.q-items {
				.q-item {
					height: auto;

					.q-title {
						font-size: 1.2em;
						margin-bottom: 20px;
					}
					label {
						display: block;
						font-weight: inherit;

						.q-option {
							display: inline-block;
						}
					}

					.q-type {
						img {
							width: 50px;
						}
					}
				}
			}
		}
	}
}