<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony Quiz!{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/iCheck/skins/all.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/prismjs/prism.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/transformicons/transformicons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/slick/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/slick/slick-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/line-awesome/css/line-awesome-font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/smoke/css/smoke.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sweetalert/sweetalert.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="notifications"></div>
        <div id="sidePanel" class="panel">
            <label>MENU</label>
            <ul class="menu">
                <li>
                    <a href="{{ path('nash_ann_quiz_homepage') }}">Take A Quiz</a>
                </li>
                <li>
                    <a href="{{ path('answer_log_index') }}">Quiz Log</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div id="top-nav">
                <ul class="pull-right list-unstyled">
                    <li>
                        <a href="#sidePanel" type="button" class="tcon tcon-menu--xbutterfly panel-trigger-btn" aria-label="toggle menu">
                            <span class="tcon-menu__lines" aria-hidden="true"></span>
                            <span class="tcon-visuallyhidden">toggle menu</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>

            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="{{ asset('bundles/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bootstrap/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/iCheck/icheck.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/panel_slider/panel_slider.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/transformicons/transformicons.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/slick/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/prismjs/prism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/smoke/js/smoke.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/countdown/countdown.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sweetalert/sweetalert.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('/js/question.js') }}"></script>

        <script type="text/javascript">
            $(function() {
                $('.panel-trigger-btn').panelslider({
                    bodyClass: 'ps-active-right',
                      clickClose: false,
                      onOpen: function() {
                        //console.log('right panel open');
                      }
                });
                
                transformicons.add('.tcon');
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
