{% extends 'base.html.twig' %}

{% block body %}
	<h1 id="locator" class="pull-left"><span class="first">1</span> / <span class="total">{{ questions|length }}</span></h1>
	<div class="pull-right" id="timer"></div>
	<div class="clearfix"></div>

	<section id="questions">
		<div class="q-outer-item">
			<div class="q-items">
				{% for question in questions %}
					<div class="q-item" id="q-item-{{ question.id }}" data-multiple="{% if question.isMultiple %}true{% endif %}">
						<div class="q-title"><span class="qq"><b>Question:</b> </span>{{ question.question|raw }}</div>
						<hr>

						<div class="optionBlock">
							{% if question.isMultiple %}
								<div class="q-type pull-right">
									<img src="{{ asset('/img/multiple.png') }}">
								</div>
							{% endif %}

							{% if question.code %}
								<pre class="line-numbers"><code class="language-{{ question.language }}">{{ question.code }}</code></pre>
							{% endif %}
							{% for option in question.options %}
								<label>
									{% if question.isMultiple %}
										<input type="checkbox" value="{{ option.correct }}" name="option-{{ question.id }}" data-id="{{ option.id }}" data-qid="{{ question.id }}"/>
										<span class="q-option">{{ option.option|raw }}</span>
									{% else %}
										<input type="radio" value="{{ option.correct }}" name="option-{{ question.id }}" data-id="{{ option.id }}" data-qid="{{ question.id }}"/>
										<span class="q-option">{{ option.option|raw }}</span>
									{% endif %}
								</label>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<div class="alert alert-info">There is a problem fetching questions.  Please reload the page!</div>
				{% endfor %}

			</div>
			<div class="text-right">
				<button type="button" class="btn btn-primary hidden" id="submitQuiz">Check Quiz Results!</button>
			</div>
			<div class="clearfix"></div>
		</div>

	</section>
{% endblock %}

{% block javascripts %}
	<script >
		$(function() {

			swal({
				title 	: 'Loading Questions',
				text 	: 'Please wait while the questions are belong loaded',
				imageUrl: "{{ asset('img/loading.gif') }}",
				timer	: 1000
			});

			var answerBank  = JSON.parse('{{ sourceCheck|json_encode|raw }}'),
				logPath 	= "{{ path('answer_log_add') }}";

			initQuestionAssets(answerBank, logPath);
		});
	</script>
{% endblock %}