{% extends 'base.html.twig' %}

{% block body %}
	<h2>Correct: {{ totals.correct }}</h2>
	<h2>Wrong: {{ totals.wrong }}</h2>
	<hr>
	<h2>Total Questions: {{ totals.questions }}</h2>

	<div class="text-right">
		<div class="btn-group">
			<a href="{{ path('review_quiz', {id: log.id}) }}" class="btn btn-primary">Review</a>
			<a href="{{ path('nash_ann_quiz_homepage') }}" class="btn btn-info"><i class="fa fa-pencil"></i> Take another Quiz</a>
		</div>
	</div>
{% endblock %}