{% extends 'base.html.twig' %}

{% import _self as _this %}

{% macro getQuestion(questions, id) %}
	{% for question in questions if question.id == id %}
		<h4><a data-toggle="collapse" href="#answer-{{ id }}">{{ question.question|raw }}</a></h4>
		<div class="collapse" id="answer-{{ id }}">
			<ul>
				{% for answer in question.options if answer.correct %}
					<li>{{ answer.option|raw }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
{% endmacro %}

{% block body %}
	<h2>Reviewing Quiz # {{ logs.id }}</h2>
	<hr>
	{% set answerType = {'true' : 'success', 'false' : 'danger'} %}

	{% for k, log in logs.answer %}
		{% set question = _this.getQuestion(questions, k) %}
		{% if "false" in log %}
			<div class="bs-callout bs-callout-danger">
				{{ question }}
			</div>
		{% else %}
			<div class="bs-callout bs-callout-success">
				{{ question }}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}