{% extends 'base.html.twig' %}

{% block body %}
	<h2>Quiz Log Archive</h2>

	<table class="table table-responsive table-striped">
		<tr>
			<th>Log ID</th>
			<th>Date</th>
			<th>Action</th>
		</tr>
		{% for log in logs %}
			<tr id="logRow-{{ log.id }}">
				<td>{{ log.id }}</td>
				<td>{{ log.date|date('l, M Y H:i:s') }}</td>
				<td>
					<div class="btn-group">
						<a href="{{ path('answer_log_view', {id: log.id}) }}" class="text-info"><i class="fa fa-2x fa-desktop"></i></a>
						<a href="#" class="text-danger" onclick="$(this).deleteLog({{ log.id }});" data-path="{{ path('answer_log_delete') }}"><i class="fa fa-2x fa-trash"></i></a>
					</div>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}